## Homework 2 ## 

------------------

### Dave Bravo-Ruelas: 302798475 ###

### Alex Perez: 302079523 ###

### Angel Orduno: 302090300 ###

---------------------

---------------------

### Question 1 ###

In [128]:
# import all necessary libraries
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier as knn
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression as LR
from sklearn.tree import DecisionTreeClassifier as DTC
from sklearn.metrics import accuracy_score
from sklearn.cross_validation import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn import metrics

### a) ###

#### Read the dataset into a Pandas DataFrame ####

In [113]:
df = pd.read_csv("https://raw.githubusercontent.com/bravodavid56/datascience-cs4661/master/Homework%203/Credit.csv")

### b) ###

#### Check out the dataset ####

In [114]:
df[::100]

     Income  Limit  Rating  Cards  Age  Education  Married  Balance
0    14.891   3606     283      2   34         11        1      333
100  21.153   3736     256      1   41         11        0      298
200  23.949   5343     383      2   40         18        1      829
300  21.786   4632     355      1   50         17        1      580

### c) ###

#### Generate the feature matrix and target vector, and normalize features ####

In [115]:

# generate feature matrix 
features = ["Income", "Limit","Rating", "Cards","Age","Education","Married"]
feature_matrix = df[features]

label = df['Balance']

# feature_matrix['Income'] = feature_matrix['']
# find the max of each feature to then normalize the features by their maximum values

income = feature_matrix['Income'].max()
limit = feature_matrix['Limit'].max()
rating = feature_matrix['Rating'].max()
cards = feature_matrix['Cards'].max()
age = feature_matrix['Age'].max()
education = feature_matrix['Education'].max()

# no need to normalize the married feature
# married = feature_matrix['Married'].max()

def inc_norm(x):
    return x / income

def lim_norm(x):
    return x / limit

def rat_norm(x):
    return x / rating

def car_norm(x):
    return x / cards

def age_norm(x):
    return x / age

def edu_norm(x):
    return x / education

# no need to normalize married since it's binary 
# def mar_norm(x):
#    return x / married

feature_matrix.loc[:,'Income'] = feature_matrix['Income'].apply(inc_norm)
feature_matrix.loc[:,'Limit'] = feature_matrix['Limit'].apply(lim_norm)
feature_matrix.loc[:,'Rating'] = feature_matrix['Rating'].apply(rat_norm)
feature_matrix.loc[:,'Cards'] = feature_matrix['Cards'].apply(car_norm)
feature_matrix.loc[:,'Age'] = feature_matrix['Age'].apply(age_norm)
feature_matrix.loc[:,'Education'] = feature_matrix['Education'].apply(edu_norm)

C:\Users\Dave Bravo-Ruelas\Anaconda3\lib\site-packages\pandas\core\indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [116]:
# printing the normalized features
feature_matrix[::100]

       Income     Limit    Rating     Cards       Age  Education  Married
0    0.079787  0.259182  0.288187  0.222222  0.346939       0.55        1
100  0.113339  0.268526  0.260692  0.111111  0.418367       0.55        0
200  0.128321  0.384029  0.390020  0.222222  0.408163       0.90        1
300  0.116731  0.332926  0.361507  0.111111  0.510204       0.85        1

### d) ###

#### Splitting the dataset into testing and training set ####

In [117]:
# feature_train = features used for training
# feature_test = features used for testing
# label_train = label used for training 
# label_test = label used for testing 

feature_train, feature_test, label_train, label_test = train_test_split(feature_matrix, label, test_size = 0.2, random_state = 2)

print(feature_train.shape, feature_test.shape, "\n", label_train.shape, label_test.shape)

(320, 7) (80, 7)
 (320,) (80,)

### e) ### 

#### Linear Regression Model ####

In [121]:
# creating a linear regression model 
my_linreg = LinearRegression()

# fitting the model using our training sets
my_linreg.fit(feature_train, label_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [122]:
# printing Theta0 using attribute "intercept_":
print(my_linreg.intercept_)

# printing [Theta1, Theta2, Theta3] using attribute "coef_":
print(my_linreg.coef_)

-451.390136282
[-1413.47222539  1357.75410875  2441.3004289    103.52548744  -102.02433542
    40.34044338   -48.45522561]

#### Thus, we can see that Credit Card rating is the most important, while Income was the least important ####

### f) ### 
#### Predict "balance" for users in testing set ####

#### Then compare to the actual balance and reporting the RMSE ####

In [129]:
# make predictions on the testing set
y_prediction = my_linreg.predict(feature_test)

# calculate mean square error 
mse = metrics.mean_squared_error(label_test, y_prediction)
rmse = np.sqrt(mse)
print(rmse)

154.410746767

### g) ###

#### Use 10-fold Cross Validation ####

In [130]:
mse_list = cross_val_score(my_linreg, feature_matrix, label, cv=10, scoring='mean_squared_error')
print(mse_list)

[-23646.90415343 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205939 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212175 -23204.94743459]

In [131]:
mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[ 153.7754992   178.89394627  188.31527914  193.20353826  119.75525901
  183.38039983  177.85385343  111.76315739  144.04725656  152.331702  ]

In [132]:
# calculate the average RMSE as final result of cross validation:
print(rmse_list.mean())

160.331989107

### Question 3 ###